#navtext a {
    color: white;
    padding-left: 40px;
}

#navtext a:hover {
    background-color: rgba(255, 255, 255, 0.354);
}

#form1 {
    width: 400px;
    height: 45px;
    background-color: rgba(73, 109, 182, 0.153);
}

#form1::placeholder {
    font-size: larger;
}

#container-1 a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
}

#image img {
    height: 196px;
    padding: 10px;
}

@media(min-height:300px) and (max-height:767px) {
    .card {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
}

@media(max-width:500px) {
    #icon {
        display: none;
    }
}

#endofseason img {
    padding: 10px;
    border-radius: 30px;
    height: 210px;
}

@media(min-width:768px) and (max-width:999px) {
    .bestofhealth {
        margin-top: 14px;
        border: none;
    }
}

img {
    transition: 1s;
}

img:hover {
    transform: scale(1.06);
}

@media(min-width:319px) and (max-width:767px) {
    .bestofhealth {
        margin-top: 14px;
        border: none;
    }

    #form1 {
        width: 200px;
        margin-left: -33px;
    }

    #form1::placeholder {
        font-size: smaller;
    }

    .login1 {
        margin-left: -80px;
        margin-top: 6px;
    }

    .cart1 {
        position: absolute;
        top: 118px;
        left: 89px;
    }

    .become {
        display: none;
    }

    .forms {
        margin-top: 10px;
    }
}

@media(min-width:768px) and (max-width:1200px) {
    .bestofhealth {
        margin-top: 14px;
        border: none;
    }

    #form1 {
        width: 300px;
        margin-left: 17px;
    }

    #form1::placeholder {
        font-size: smaller;
    }

    .login1 {
        margin-left: -31px;
        margin-top: 6px;
    }

    .cart1 {
        position: absolute;
        top: 122px;
        left: 139px;
    }

    .become {
        position: absolute;
        left: 233px;
        top: 120px;
    }

    .forms {
        margin-top: 10px;
    }
}




.bottom-text-heading {
    font-weight: 600;
    font-size: 20px;
    opacity: 0.8;
}

.bottom-text-para {
    
    opacity: 0.6;
    font-size: 15px;
    font-weight: 600;
}

.bottom-text-para span {
    font-size: 15px;
    opacity: 0.9;
}

.footer .card{
    background: none;
    border: none;
    /* background-color: rgb(154, 97, 22); */
}
.footer .card h6{
    color: rgba(255, 255, 255, 0.372);
    font-size: 13px;
}
.footer .card a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    line-height: 1px;
    font-weight: bold;
}
#mail-us{
    border-left: 1px solid rgba(255, 255, 255, 0.548);
    border-radius: 0;
}
#icoon{
    font-size: 13px;
}
.footer a{
    text-decoration: none;
}
#contentoo{
    font-size: 10px;
    text-decoration:none;
    color: white;
    font-weight: bold;
}

.footer img{
    width: 400px;
    margin-top: -15px;
}
.footer img:hover{
    transform: none;
}

.footer{
    background-color: #212121;
}

@media(min-width:768px) and (max-width:1200px){

    
.footer img{
    width: 200px;
}
#mail-us{
    border-left:none;
    border-radius: 0;
}
}

@media(min-width:319px) and (max-width:767px) {
    .footer img{
        width: 200px;
    }
    #mail-us{
        border-left:none;
        border-radius: 0;
    }
}